<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
  </head>
  <body style="width: 50%; margin: 0 auto;">
    <h1>Get Weather</h1>

    <div class="inline gap-3">
      <form action="/plovdiv" method="GET">
        <button type="submit">Plovdiv</button>
      </form>
      <hr />
      <form action="/sofia" method="GET">
          <button type="submit">Sofia</button>
        </form>
        <hr />
    </div>

    <div id="weather">
      <% if (weather) { %>
      <h2>Weather in <%= city %></h2>
      <p>Temperature: <%= weather.main.temp %> °C</p>
      <hr />
      <p>Condition: <%= weather.weather[0].description %></p>
      <hr />
      <p>Humidity: <%= weather.main.humidity %> %</p>
      <hr />
      <p>Wind Speed: <%= weather.wind.speed %> m/s</p>
      <% } else { %>
      <p>No weather data yet. Click a button to get weather.</p>
      <% } %>
    </div>
  </body>
</html>
